doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    div(class='container')
      block content
    script(src='/js/jquery-3.5.0.js')
    script(src='/js/bootstrap.js')
